{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Absolute English{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<body>

    {% include "partials/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "partials/footer.html" %}

    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

</body>
</html>